@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro+Titling&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --fonteprincp:'Poppins', sans-serif;

    --conr-princp: #ECF0F1;
}

/* HEADER */
.cabecalho{
    position: fixed;
    display: flex;
    background-color: var(--conr-princp);
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 0px #ecf0f159 ;
}

.cabecalho i.material-icons {
    padding: 10px 0px 10px 10px;
    color: black;
    font-size: 40px;
}

/* PRINCIPAL */
 /* SEÇÃO landing */
main{
    width: 100vw;
}

main .landing{
    width:100%;
    height:100vh;
    background: var(--conr-princp)  url(../Imagens/IMG_20221213_170227.jpg) no-repeat;
    background-size: cover;
    background-position: left;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.26);
}

.landing-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(54, 38, 38) ;
    display: flex;
    flex-flow: column;
    gap: 50px;
}

.landing-text h1{
    font-size: 3em;
    background-color: #ecf0f159;
    width: 80%;
    padding: 10px;
    margin-top: 130px;
    font-family: var(--fonteprincp);
}

.landing-text p{
    font-size: 1.5em;
    background-color: #ecf0f159;
    width: 70%;
    padding: 10px;
    font-family: var(--fonteprincp);
}

/* SEÇÃO DESTAQUES */

.sect-destaques{
    background-color: var(--conr-princp);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2,auto);
}

.sect-destaques > h1 {
    padding: 5px 0px 5px 5px;
    font-family: var(--fonteprincp);
    font-size: 1.25em;
    grid-area: 1/1/2/3;
}

.link-destaque{
    display: flex;
    flex-flow: column;
    width:90%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    justify-self: center;
    color: black;
}

.link-destaque__prod1{
    grid-area:2/1/3/2;
}

.link-destaque__prod2{
    grid-area: 2/2/3/3;
}

.destaque-preco{
    font-weight: bolder;
}

.destaque-parcela{
    font-weight: 100;
    font-size: 1em;
    color: grey;

}

.destaque-produto{

}

