@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro+Titling&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --fonteprincp:'Poppins', sans-serif;

    --conr-princp: #ECF0F1;
    --cor-texto: rgb(54, 38, 38);
}

body{
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "main"
    "footer";
    grid-template-rows: 80px auto auto;
    background-color: var(--conr-princp);
}

/* HEADER */
.cabecalho{
    grid-area: cabecalho;
    width: 100%;
    position: fixed;
}

.sect-cabecalho{
    display: flex;
    background-color: var(--conr-princp);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 0px #ecf0f159 ;
}


.material-icons {
    color: black;
    font-size: 40px;
}

/* PRINCIPAL */
.principal{
    grid-area: main;
    background-color: var(--conr-princp);
}
 /* SEÇÃO landing */

.main-sect {
    height: calc(100vh - 90px);
}
.landing{
    height: calc(100vh - 80px);
    background: var(--conr-princp)  url(../Imagens/IMG_20221213_170227.jpg) no-repeat ;
    background-size: cover;
    background-position: left center;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.26);
    font-family: var(--fonteprincp);
    color: var(--cor-texto) ;
    margin-bottom: 10px;
}

.textos-landing{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 30px;
}

.titulo-landing, .p-landing {
    background-color: #ecf0f159;
    padding: 10px;
    border-radius: 10px;
    border: solid white 1.5px;

}

.titulo-landing{
    font-size: 3em;
    width: 80%;
}

.p-landing{
    font-size: 1.5em;
    width: 70%;
    
}

/* SEÇÃO DESTAQUES */

.sect-destaques{
    background-color: var(--conr-princp);
}

.container-destaques{
    height: 100%;
}

.titulo-destaque {
    padding: 10px;
    font-family: var(--fonteprincp);
    font-size: 2em;
    color: var(--cor-texto);
    width: fit-content;
    border-width: 3px;
    background-color: #dee0e0;
    margin-bottom: 20px;
}

.box-destaque{
    height: calc(100% - 140px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.link-destaque{
    display: flex;
    flex-flow: column;
    height: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    flex-shrink: 1;
    width: 45%;
    gap: 3px;
}

.link-destaque__prod1{
    flex-shrink: 1;
}

.link-destaque__prod2{
    flex-shrink: 1;
}


.destaque-preco{
    font-weight: bolder;
    font-size: 1.40em;
}

.destaque-parcela{
    font-weight: 100;
    font-size: 1em;
    color: grey;
    flex-shrink: 1;
}

.destaque-produto{
    color: grey;
    flex-shrink: 1;
}

/* Card Conheça nossos produtos */

.card-conheca{
    margin: auto;
    background: var(--conr-princp) url("../Imagens/IMG_20221117_170707.jpg") no-repeat ;
    background-size: cover;
    background-position: right center;
    padding: 20px;
    color: var(--cor-texto) ;
}

.link-vertodos{
   
    font-family: var(--fonteprincp);
}

 .titulo-conheca {
    text-align: center;
    background-color: #cfd1d19c ;
    width: fit-content;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
    
    
}

.p-conheca {
    background-color: #cfd1d19c;
    border: solid white 2px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 30px;
    margin: auto;
    color: var(--cor-texto) ;
    

}

/* Rodapé */

footer {
    grid-area: footer;
    background-color: var(--conr-princp);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-brands{
    font-size:3em;
    padding: 5px;
    color: var(--cor-texto);
}

